input[type=range] {
  -webkit-appearance: none;
  width: 310px;
  margin: 0px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 310px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
  background: #646464;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #717171;
}
input[type=range]::-moz-range-track {
  width: 310px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
  background: #646464;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 310px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #575757;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #646464;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0.1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  height: 30px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #646464;
}
input[type=range]:focus::-ms-fill-upper {
  background: #717171;
}



.align-center {
  text-align: center;
}

.btn {
  padding: 4px 10px;
}

h6 {
  margin: 10px 0;
}

.space .point {
  stroke: #454545;
  fill-opacity: 0.7;
}

#player {
  .soundfile-details {
    font-size: 1.2rem;
    margin: 10px;

    span {
      display: block;
      font-style: italic;
    }
  }
}

#controller {
  box-sizing: border-box;

  // generic
  h6 {
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
  }

  .hidden {
    display: none;
  }

  h4 {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .file-loaded {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    margin-left: 8px;
    position: relative;
    top: -6px;

    &.done {
      background-color: green;
    }
  }

  // structure
  .presets-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #606060;

    .btn.select-preset {
      min-width: 14.2%; // @garth (size of buttons)
      display: inline-block;
      font-size: 18px;
      height: 36px;
      line-height: 24px;
      // font-weight: bold; // @garth
      margin: 2;

      &.active {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
      }
    }

    .btn#save-state {
      position: absolute;
      background-color: #454545;
      right: 20px;
      top: 20px;
    }
  }

  .client-list {
    position: absolute;
    width: 16%;
    box-sizing: border-box;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: #121212;

    // DEBUG
    // outline: 1px solid yellow;
    // min-height: 100%;

    p {
      height: 30px;
      position: relative;
      font-size: 12px;
      line-height: 30px;
      text-indent: 12px;
      margin: 2px;
    }

    ul {
      padding: 0;
      margin: 0;
      height: 100%;

      li {
        height: 30px;
        position: relative;
        font-size: 12px;
        line-height: 30px;
        text-indent: 12px;
        margin: 2px;

        .file-loaded {
          position: absolute;
          top: 3px;
          right: 5px;
        }
      }
    }
  }

  .main {
    position: absolute;
    left: 0;
    width: 84%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;

    .filename {
      margin: 8px 0;
      font-size: 16px;
      font-weight: bold;

      span {
        display: inline-block;
        min-width: 400px;
      }

      .btn {
        display: inline-block;
      }
    }

    // trigger controller
    .pad-size {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 10px;

      span {
        line-height: 12px;
        height: 12px;
        display: block;
      }
    }

    .triggers {
      padding: 0;
      list-style-type: none;

      .trigger-file {
        width: 80px;
        height: 80px;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        line-height: 80px;
        font-weight: bold;
        position: relative;

        .soundfile-color {
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          height: 30%;
        }

        .file-loaded {
          // margin-left: 8px;
          position: absolute;
          top: 2px;
          right: 2px;
          width: 16px;
          height: 16px;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }

    // granular controller
    .granular-controller {
      margin-bottom: 4px;
      width: 50%;
      float: left;

      .granular-attr-container-toggle {
        padding: 4px 10px;
        margin-bottom: 6px;
        width: 50%;
        background-color: #efefef;
        border-radius: 2px;
      }

      .granular-attr-container {
        display: block;
        position: absolute;
        background-color: #121212;

        &.hidden {
          display: none;
        }
      }

      .granular-attr {
        span {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          vertical-align: top;
          width: 120px;
        }

        input[type=checkbox] {
          width: 30px;
          height: 30px;
        }

        input[type=number] {
          height: 30px;
          line-height: 30px;
          vertical-align: top;
          font-size: 14px;
          padding: 2px 4px;
          box-sizing: border-box;
          width: 70px;
        }

        .file-play {
          display: inline-block;
          width: 383px;
          height: 30px;
          margin-bottom: 4px;
          font-size: 14px;

          &.active {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 4;
  }

  .overlay-content {
    width: 269px;
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 5;
    background-color: #000000;
    border: 1px solid #232323;
    padding: 20px;

    p {
      font-size: 14px;
      margin-bottom: 3px;
      font-weight: bold;
      margin-bottom: 14px;
    }

    label {
      font-size: 12px;
      display: block;
      margin-bottom: 6px;
    }

    span {
      display: inline-block;
      width: 120px;
    }

    input[type=number] {
      font-size: 14px;
      padding: 3px 5px;
      width: 70px;
      margin-right: 12px;
    }

    .close-edit-file-params {
      width: 26px;
      height: 26px;
      border-radius: 2px;
      border: 1px solid #787878;
      background-color: #111111;
      color: white;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}


#soloist {
  .background svg .point {
    fill: #ffffff;
  }

  .foreground {
    opacity: 0.5;

    svg {
      background-color: transparent;
    }

    .point {
      fill: $midnight-blue;
    }

    #controllers {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 15%;
      z-index: 2;
      width: 700px;
    }
  }
}










