<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <title>
      ${d.app.name} | ${d.clientType}
    </title>

    <script>
      window.soundworksConfig = JSON.parse('${JSON.stringify(d)}');
    </script>
    <script src="${d.env.assetsDomain}vendors/webcomponentsjs/webcomponents-bundle.js"></script>

    ${
      (d.env === 'production')
        ? `<script defer src="${d.env.assetsDomain}build/${d.clientType}.min.js"></script>`
        : `<script defer src="${d.env.assetsDomain}build/${d.clientType}.js"></script>`
    }

    <link rel="stylesheet" href="${d.env.assetsDomain}css/normalize.css">
    <link rel="stylesheet" href="${d.env.assetsDomain}css/styles.css">
  </head>

  <body class="loading">
    <div id="__soundworks-container" class="${d.clientType}"></div>
  </body>

  <script>
    // https://stackoverflow.com/questions/37808180/disable-viewport-zooming-ios-10-safari
    document.addEventListener('touchmove', function (event) {
      if (event.scale !== 1) { event.preventDefault(); }
    }, false);

    var lastTouchEnd = 0;
    document.addEventListener('touchend', function (event) {
      var now = (new Date()).getTime();
      if (now - lastTouchEnd <= 300) {
        event.preventDefault();
      }
      lastTouchEnd = now;
    }, false);
  </script>
</html>
